.gradle
.idea/
build/
*.iml
*.ipr
*.iws
*~
src/main/java/net/praqma/tracey/protocol/eiffel/events
src/main/java/net/praqma/tracey/protocol/eiffel/models
/.nb-gradle/
*.json
src/main/java/net/praqma/tracey/protocol/eiffel/EiffelEventOuterClass.java
src/main/java/net/praqma/tracey/protocol/eiffel/EiffelSourceChangeCreatedEventOuterClass.java